
.swiper
    margin-top: 41px
    display: flex
    justify-content: center

.swiper-slide
    display: flex
    justify-content: center


.swiper-button-prev
    color: #000000

.swiper-button-next
    color: #000000
